.heading {
    text-align: center;
    margin-top: 40px;
    i {
        position: relative;
        top: -7px;
      }
       h2 {
        font-size: 25px !important;
        font-weight: 900 !important;
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5px;
        margin-right: 5px;
      }
    
      h2 span {
        font-size: 47px;
        font-weight: 800 !important;
        position: relative;
        left: 3px;
      }
     h2 .o {
        // color: #31e0b1;
        color: #4ED7B7;
        font-size: 25px;
        position: relative;
        left: 0px;
      }    
  }