.heading {
    text-align: center;
    i {
        position: relative;
        top: -7px;
      }
       h2 {
        font-size: 25px !important;
        font-weight: 900 !important;
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5px;
        margin-right: 5px;
      }
    
      h2 span {
        font-size: 47px;
        font-weight: 800 !important;
        position: relative;
        left: 3px;
      }
     h2 .o {
        color: #4ED7B7;
        font-size: 25px;
        position: relative;
        left: 0px;
      }    
  }

  @media(max-width:550px){
    .heading{
      i{
        font-size: 11px;
      }
      h2{
        font-size: 20px !important;
        span {
          font-size: 30px !important;
        }
        .o {
          font-size: 20px !important;
        }   
      }
    }
  }

  @media(max-width:400px){
    .heading{
      i{
        font-size: 8px;
      }
      h2{
        font-size: 15px !important;
        span {
          font-size: 30px !important;
        }
        .o {
          font-size: 15px !important;
        }   
      }
    }
  }