.check-out{
    padding-bottom: 4rem !important;
    .totalPrice {
        float: right;
        font-size: 15px;
        color: grey;
        span {
            color: #31e0ba;
            font-size: 20px;
            font-weight: 700;
          }
      }
      .row {
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 10px;
        .image {
            border: 5px solid #31e0ba;
            margin-top: 10px;
          }
        .name {
            font-size: 15px;
            font-weight: 700;
            color: grey;
        }
        .price {
            font-size: 20px;
            color: grey;
            &::first-letter {
                font-size: 23px;
                font-weight: 900;
                color: #31e0ba;
            }
        }
        .btn{
            border: none;
            background-color: none;
            
        }
        .removeItem {
            background-color: #31e0ba;
            padding: 6px;
            padding-left: 25px;
            padding-right: 25px;
            border: none;
            border-radius: 90px;
            font-size: 16px;
            color: #ededed;
            letter-spacing: 1px;
        }
    }
    p{
        padding: 110px 0;
        font-family: 'Dosis', sans-serif;
        text-align: center !important;
        font-size:20px;
        color: grey !important;
    }
    .test-warning{
        text-align: center;
        margin-top: 40px;
        font-size: 17px;
        color: rgb(209, 113, 113);
      }
    .paynow-btn{
        float: right;
        background-color: black;
        color: white;
        padding: 6px;
        padding-left: 14px;
        padding-right: 14px;
        border: none;
        border-radius: 6px;
        box-shadow: 1px 1px 2px black;
        font-size: 13px;
    }
    .btn-right{
        float: right !important;
    }
} 


@media(max-width:500px){
    .check-out{
        .row{
            .image {
                width: 70px !important;
                margin-top: 1.2rem;
              }
              .name {
                font-size: 13.5px;
            }
            .price {
                font-size: 17px;
                color: grey;
                &::first-letter {
                    font-size: 20px;
                    font-weight: 900;
                    color: #31e0ba;
                }
            }
            .btn{
                font-size: 10px;
            }
            span{
                font-size: 11px;
            }
        }
    }
}