.submitted-message-container{
    padding-bottom: 4rem !important;

    .card-header{
        h2{
            font-size: 26px;
            font-weight: 700;
        }
    }
    .card-body{
        background-color: #f5f7f7;
        p{
            color: #5c5c5c;
            font-size: 14px;
        }
        h3{
            font-size: 17px;
            color: #4FDAB9;
        }
    }
}