.home-page{
    margin-bottom: 3rem;
    .moreProd {
        text-align: center;
        button {
            background-color: black;
            color: white;
            padding: 7px;
            padding-left: 20px;
            padding-right: 20px;
            border: none;
            border-radius: 90px;
            box-shadow: 2px 2px 10px black;
        }
    }
}
